
.Menu {
  font-family: 'Cormorant', serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  opacity: 1;

}

.Schwedentraum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url("./forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 100px;
  align-items: center;
}

h2 {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  align-items: flex-start;
}

.winter_text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;

}

.winter_bilder {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

}

.winterunder1 {
  max-width: 278px;
  max-height: 278px;
}

h3 {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  align-items: flex-start;
}

h4 {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  text-align: center;
}

.spring_images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.spring_text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 288px;

}

.profileround {
  max-width: 350px;
  max-height: 350px;
  margin: auto;
  display: block;
}

p {
  font-family: 'Cormorant', serif;
  font-size: 20px;

}

.summer_text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;
}

.summerimage {
  max-width: 278px;
  max-height: 278px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.contacttraum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
  background-image: url("./forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  opacity: 0.5;
}

.menucontact {
  font-family: 'Cormorant', serif;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 700px;
  flex-direction: row;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
